<li class="tile-genre">{{script.genre}}</li>
{{#link-to 'script' script.id}}<li class="tile-image"><img src={{script.image}} class="img-responsive" width=auto height="200"></li>
<li class="index-title">{{script.title}}</li>{{/link-to}}
<br>
