<div class="container">
  <h1 class="checkout-head">Checkout</h1>

  <ul class="checkout-list">
    {{display-cart}}
  </ul>
  <hr>
  <div class="rows">
    <div class="col-sm-3">
      <button class="btn btn-md btn-default checkout-button">Checkout</button>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-md btn-default continue-button">{{#link-to 'index'}}Continue Shopping{{/link-to}}</button>
    </div>
    <div class="col-sm-3">
      <a href="/"><button class="btn btn-md btn-default">Clear Cart</button></a>
    </div>
    <hr>
  </div>
</div>
