<h1 class="checkout-head">Checkout</h1>

<ul class="checkout-list">
  {{display-cart}}
</ul>

<div>
  <button class="btn btn-lg btn-default">{{#link-to 'index'}}Continue Shopping{{/link-to}}</button>
</div>
